.item {
    max-width: 420px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;
}

.img {
    width: 420px;
    height: 344px;
}

.img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.text p {
    font-size: 15px;
    font-weight: 500;
    width: 410px;
    color: #232323;
}

.block {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.price {
    display: flex;
    align-items: end;
    gap: 5px;
}

.price h2 {
    font-size: 32px;
    font-weight: 500;
    color: #0009EA;
}

.price p {
    font-size: 26px;
    font-weight: 500;
    color: #0009EA;
}

.btn {
    border: 2px solid #0009EA;
    background-color: #0009EA;
    color: white;
    padding: 10px 30px;
    border-radius: 4px;
    font-size: 20px;
    font-weight: 500;
}

.btn:hover {
    color: #0009EA;
    background: transparent;
}