.footer {
    padding: 40px 0;
    background-color: #232323;
}

.content {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 67px;
    height: 70px;
    background: url(../../assets/media/footer/logo.png);
}

.nav {
    display: flex;
    align-items: center;
    gap: 70px;
}

.navlink {
    color: white;
}